* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'GothamHTF-Black';
    src: url('../fonts/GOTHAMHTF-BLACK.OTF') format('opentype');
}

@font-face {
    font-family: 'GothamHTF-Book';
    src: url('../fonts/GOTHAMHTF-BOOK.OTF') format('opentype');
}

@font-face {
    font-family: 'GothamHTF-Light';
    src: url('../fonts/GOTHAMHTF-LIGHT.OTF') format('opentype');
}

@font-face {
    font-family: 'GothamHTF-Medium';
    src: url('../fonts/GOTHAMHTF-MEDIUM.OTF') format('opentype');
}

@font-face {
    font-family: 'Montserrat-Medium';
    src: url('../fonts/MONTSERRAT-MEDIUM_0.TTF') format('truetype');
}

@font-face {
    font-family: 'Montserrat-Thin';
    src: url('../fonts/MONTSERRAT-THIN_0.TTF') format('truetype');
}

body {
    font-family: 'Montserrat-Medium', sans-serif;
    background-color: #000;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'GothamHTF-Black', sans-serif;
}

/* Navbar Start */
nav {
    padding: 0.7rem 0 !important;
    background: #000 !important;
    font-family: 'GothamHTF-Black', sans-serif !important;
    font-size: calc(0.2em + 1vw);
}
nav .navbar-brand img{
    width: calc(110px + 1vw);
}
.navbar-nav .nav-link,
.navbar-brand,
.navbar-toggler-icon {
    color: #f6f6f6 !important;
}
.navbar-nav .nav-link:hover {
    color: #fff !important;
}
.navbar-nav .nav-link.active {
    color: #fff !important;
    font-weight: 700 !important;
    border: none;
    outline: none;
}
/* Dropdown Styling */
.navbar-nav .dropdown-menu {
    background-color: #000;
    box-shadow: rgba(215, 215, 215, 0.453) 0px 3px 8px;
}
.navbar-nav .dropdown-item {
    color: #fff !important;
}
.navbar-nav .dropdown-item:hover {
    background-color: #222;
}

/* Custom dropdown menu width */
.custom-dropdown-menu {
    width: 17.5rem !important;
    margin-left: -4.7rem;
}
.custom-dropdown-menu h6 {
    font-size: calc(0.1em + 1vw);
}
.custom-dropdown-menu input {
    width: 100%;
    color: #fff !important;
    font-weight: 300 !important;
    background-color: #2e2e2e;
    font-size: calc(0.04em + 1vw);
    border: none;
    outline: none;
}
.custom-dropdown-menu input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
.custom-dropdown-menu button {
    background-color: #c9c9c9;
    font-weight: 500 !important;
    font-size: calc(0.04em + 1vw);
}
.custom-dropdown-menu button:hover {
    background-color: #f2f2f2;
}

@media screen and (max-width: 768px) {
    nav {
        z-index: 100 !important;
        padding: 0.6rem 0 !important;
    }
    nav .navbar-brand img {
        width: 100px;
    }
    .navbar-nav .nav-link {
        font-size: calc(1.3em + 1vw);
        margin-left: 0.7rem;
    }
    /* .navbar-collapse {
        text-align: center;
    } */
    .navbar-nav .dropdown-menu {
        box-shadow: rgba(215, 215, 215, 0.489) 0px 2px 5px;
        margin-bottom: 0.5rem;
    }
    .custom-dropdown-menu {
        width: 100% !important;
        margin-left: 0;
    }
    .custom-dropdown-menu h6 {
        font-size: calc(0.7em + 1vw);
    }
    .custom-dropdown-menu input {
        font-size: calc(0.6em + 1vw);
    }
    .custom-dropdown-menu button {
        font-size: calc(0.6em + 1vw);
    }
}
/* Navbar End */

/* Banner Start */
.banner{
    display: flex;
    justify-content: space-between;
    padding: 0rem 2% 2rem 2%;
}
.banner-left{
    width: 60%;
    padding: 1rem 0;
}
.banner-right{
    width: 35%;
    padding: 1rem 0;
}

.bannerImageSwiper {
    width: 100%;
    padding: 2rem 0 8rem 0;
}
.bannerImageSwiper .swiper-slide {
    background-position: center;
    background-size: cover;
    width: 270px;
    height: 270px;
}
.bannerImageSwiper .swiper-slide img {
    display: block;
    width: 100%;
    filter: grayscale(100%);
    transition: all 0.2s ease;
}
.bannerImageSwiper .swiper-slide img:hover {
    filter: grayscale(0);
}
.bannerImageSwiper .swiper-pagination-bullet {
    width: 10px;
    height: 3px;
    background-color: rgb(96, 96, 96);
    border-radius: 5px;
    opacity: 1;
    transition: all 0.4s ease-in-out;;
}
.bannerImageSwiper .swiper-pagination-bullet-active {
    background-color: #fff;
    width: 25px;
}

.bannerTextSwiper{
    width: 100%;
    height: 100%;
}
.bannerTextSwiper .swiper-slide{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.bannerTextSwiper .swiper-slide h1{
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: calc(2.5rem + 1vw);
    margin: 0;
}
.bannerTextSwiper .swiper-slide h2{
    font-family: 'Montserrat-Thin', sans-serif;
    font-size: calc(2.5rem + 1vw);
    text-shadow: 1px 3px 5px rgb(255, 255, 255);
    margin: 0;
}
.bannerTextSwiper .swiper-slide p{
    font-family: 'GothamHTF-Light', sans-serif;
    font-size: calc(0.4rem + 0.5vw);
    margin-top: 2rem;
}
.bannerTextSwiper .swiper-slide .banner-text-head{
    position: relative;
}
.bannerTextSwiper .swiper-slide .banner-text-head .line{
    width: 45%;
    height: 2.5px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    right: 0;
}
/* Banner End */

/* About Start */
.about{
    position: relative;
    overflow: hidden;
}
.about #about-bg{
    width: 100%;
}
.about-layer{
    position: absolute;
    top: 0;
    width: 50%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    padding: 0 0 0 5%;
    overflow: hidden;
}
.about-layer .about-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -1.2rem;
    position: relative;
}
.about-layer .about-desc-left{
    width: 20%;
}
.about-layer .about-desc-right{
    width: 78%;
}
.about-layer h1{
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: calc(3.7rem + 1vw);
    margin: 0;
}
.about-layer h2{
    font-family: 'Montserrat-Thin', sans-serif;
    font-size: calc(4rem + 1vw);
    margin: 0;
}
.about-layer p{
    font-family: 'GothamHTF-Light', sans-serif;
    font-size: calc(0.3rem + 0.5vw);
    margin-top: 2rem;
}
.about-layer .about-desc .line{
    width: 25%;
    height: 2.5px;
    background-color: #fff;
    position: absolute;
    bottom: 0;
    left: -10%;
}
.about .about-lamp{
    position: absolute;
    right: -25px;
    top: 3rem;
    width: 100%;
}
.about .about-lamp img{
    width: 100%;
}
.about .lamp-box.hide{
    display: none;
}
/* About End */

/* Our Mission Start */
.our-mission-bg{
    overflow: hidden;
    background-image: url('../images/mission-bg.png');
    background-size: cover;
    width: 100%;
}
.mission-cards-row{
    padding: calc(7rem + 1vw) 2% calc(4.5rem + 1vw) 2%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.mission-card{
    width: 26%;
    display: flex;
    flex-direction: column;
    min-height: 100%;
}
.mission-card .card-body{
    background: linear-gradient(to right, #282727 10%, rgba(46, 46, 46, 0) 100%); 
    padding: 0 1.2rem 0 1.2rem;
    margin-top: -0.7rem;
}
.mission-card h1{
    font-family: 'Montserrat-Medium', sans-serif;
    font-size: calc(2.2rem + 1vw);
    margin: 0;
}
.mission-card h2{
    font-family: 'Montserrat-Thin', sans-serif;
    font-size: calc(2.2rem + 1vw);
    text-align: center;
    margin: 0;
    margin-top: -0.5rem;
}
.mission-card p{
    font-family: 'GothamHTF-Light', sans-serif;
    font-size: calc(0.4rem + 0.5vw);
    margin-top: 1.5rem;
    /* word-break: break-all; */
    text-align: justify;
    hyphens: auto;
}
.mission-card p b{
    font-family: 'GothamHTF-Book', sans-serif;
    font-size: calc(0.35rem + 0.5vw);
}
/* Our Mission End */

/* Gallery Start */
.gallery{
    padding: 0 2%;
    color: #fff;
    display: flex;
    justify-content: space-between;
}
.gallery-text{
    width: 63%;
    padding: 0 0 0.5rem 0;
    position: relative;
}
.gallery-text h1{
    font-size: calc(6rem + 1vw);
    text-transform: uppercase;
    background: url('../images/texture.png') repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
    margin: 0;
}
.gallery-text .two-boxes{
    position: relative;
    height: 7rem;
    margin-top: 6rem;
}
.gallery-text .two-boxes .box{
    background-color: #1f1f1f9f;
    width: 5rem;
    height: 5rem;
    position: absolute;
    right: 5rem;
    top: 1.3rem;
}
.gallery-text .two-boxes #box-1{
    right: 6.3rem;
    top: 0;
}
.gallery-text .line{
    width: 35%;
    height: 3px;
    background-color: #b5b5b5;
    position: absolute;
}
.gallery-text #line-1{
    top: 4rem;
    right: 0;
    width: 58%;
}
.gallery-text #line-2{
    bottom: 5.5rem;
    left: 9px;
}

.gallery-images{
    width: 37%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
    padding-bottom: 2rem;
}
.gallery-images-left,
.gallery-images-right {
    width: 49%;
    display: flex;
    flex-direction: column;
}
.gallery-images .img-box {
    margin-bottom: 0.5rem;
}
.gallery-images .img-box:last-child {
    margin-bottom: 0;
}
.gallery-images img{
    width: 100%;
    object-fit: cover;
    height: auto;
    cursor: pointer;
}
.gallery-images img.dark{
    filter: grayscale(100%);
}
#img-toggle-box img{
    display: none;
}
#img-toggle-box img.show{
    display: block;
}
/* Gallery End */